<h3>{{viewTitle}}</h3>
<form action="/user-list" method="GET">
<div class="row">
    <div class="d-flex justify-content-end">
       <button type="submit" class="btn btn-secondary">All User List</button>
    </div>
</div>
</form>
<div>
    <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" name="fullname" placeholder="Full name" value="{{userinfo.fullname}}"
            disabled>
        <div class="text-danger">{{userinfo.fullnameError}}</div>
    </div>
    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" name="email" placeholder="E-mail" value="{{userinfo.email}}" disabled>
        <div class="text-danger">{{userinfo.emailError}}</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Phone number</label>
        <input type="tel" class="form-control" name="phoneNum" placeholder="Phone-number" value="{{userinfo.phoneNum}}"
            disabled>
    </div>
    <div class="mb-3">
        <label class="form-label">Date</label>
        <input type="date" class="form-control" name="dob" placeholder="Date" value="{{userinfo.dob}}" disabled>
    </div>
</div>